body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.list-tab
	border: 2px solid black;
	border-collapse: collapse;
.list-tab td,th
	border: 1px solid black;